/* Achievements */

.container {
    width: 76%;
    margin: 0 auto;
}

.about__achievements-right h1 {
  
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    margin-bottom: 20px;
    
}

.about__achievements-right p {

    font-size: 20px;
    margin: 1.6rem 0 2.5rem;
    letter-spacing: 1px;
    
}


section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.about__achievements-container {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 40% 60%;
    gap: 5rem;
    background: var(--color-bg);
   margin-top: 120px;
}

.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievements__card {
    background: var(--color-bg);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: all 400ms ease;
}

.achievements__card:hover {
    background: var(--color-light);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon {
    background: var(--color-bg);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievements__card:nth-child(2) .achievement__icon {
    background: var(--color-bg);
}

.achievements__card:nth-child(3) .achievement__icon {
    background: var(--color-bg);
}

.achievement__card p {
    margin-top: 1rem;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}

.image {
    background-color: powderblue;
    display: flex;
    border-radius: 12px 0 0 12px;
}

.image img {
    height: 50vh;
    margin: 50px auto
}

.content {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 12px 12px 0;
    color: #fff;
}

.content h2 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 30px;
    
}

.links {
    margin: 15px 0;
    margin-bottom: 30px;
}

.links li {
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;

}

.links li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.links li:hover {
    border-color: #C850C0;
}

.vertical-line {
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}


@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }
  

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

}
    
}